.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.46);
    z-index: 2000;
    overflow: hidden;
}

.modal__card {
    position: absolute;
    width: 40%;
    top: 25%;
    left: 30%;
}

.modal__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    border-top: 1px solid #e2e2e2;
    padding: 0px;
    padding-top: 20px;

}