/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f4f6f9;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Arial';
}

.flexbox {
    display: flex;
}

.flexbox-center {
    align-items: center;
    justify-content: center;
}

.no-space {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.button-primary {
    background: #FFDD00;
    font-size: 14px;
    color: #0F265C;
    padding: 12px 24px;
    margin: 0 24px 0 0;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    box-shadow: none;
    border: none;
    font-weight: bold;
    text-align: center;
    border: 0;
    min-width: 120px;
    box-sizing: border-box;
    line-height: 24px;
    cursor: pointer;
}

.button-secondary {
    background: #E9ECF3;
    font-size: 14px;
    color: #0F265C;
    padding: 12px 24px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    box-shadow: none;
    border: none;
    font-weight: bold;
    text-align: center;
    border: 0;
    min-width: 120px;
    box-sizing: border-box;
    line-height: 24px;
    cursor: pointer;
}

.card {
    margin: 48px 0px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(7, 7, 7, 0.16), 0px 8px 8px -8px rgba(7, 7, 7, 0.16);
    border-radius: 8px;
}


.custom-selector {
    position: relative;
    display: inline-block;
    background-color: #f5f2f2;
    color: #6d6a6a;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.dropdown-content {
    z-index: 2;
    min-width: 130px;
}
.custom-selector .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.custom-selector:hover .dropdown-content {
display: block;
}

.custom-selector .dropdown-content span {
display: block;
padding: 8px 12px;
text-decoration: none;
color: #333;
transition: background-color 0.3s ease;
}

.text {
    font-size: 15px;
    color : #58585a;
    font-weight: bold;
}

.wrapper-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}

.mt-1 {
    width: 8px;
}

.mt-2 {
    width: 20px;
}