.main__search-wrapper {
    width: 220px;
}

.main__card {
    min-width: 1000px;
    max-width: 1200px;
}


@media screen and (max-width: 999px) {
    .main__card {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
  }